/* GENERAL */

* {
	box-sizing: border-box;
}

body {
	position: relative;
}

h2 {
	font-family: 'Tangerine', cursive;
	font-size: 70px;
	color: #353535;
	padding: 50px 0;
	text-align: center;
}

@media (min-width: 720px) {
	h2 {
		font-size: 100px;
	}
}

@media (min-width: 900px) {
	h2 {
		font-size: 120px;
		padding-top: 75px;
	}
}

/* HERO */

.hero, nav {
	font-size: 16px;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 16px;
	background-color: #353535;
	color: white;
	cursor: default;
}

h1 {
	font-size: 4em;
	font-family: 'Tangerine', cursive;
}

.hero div {
	width: 65vw;
	height: 1px;
	background-color: white;
	border-radius: 3px;
	margin-top: 2.5em;
	margin-bottom: 1.7em;
}

.hero p {
	font-family: 'Cormorant', serif;
	text-transform: uppercase;
	font-size: 1.25em;
}

nav {
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	font-size: 18px;
	font-family: 'Cormorant', serif;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	padding-top: 15px;
	padding-right: 20px;
}

nav li {
	margin-right: 35px;
	font-size: 1em;
}

nav li:last-child {
	margin-right: 0;
}

nav li:hover {
	border-bottom: 1px solid white;
	cursor: pointer;
}

@media (min-width: 450px) {
	.hero, nav {
		font-size: 18px;
	}

	.hero div {
		width: 12em;
	}
}

@media (min-width: 650px) {
	.hero, nav {
		font-size: 20px;
	}
}

@media (min-width: 720px) and (min-height: 600px) {
	.hero, nav {
		font-size: 3vw;
	}

	.hero div {
		height: 2px;
	}
}

@media (min-width: 1000px) {
	nav {
		font-size: 30px;
	}
}

/* @media (min-width: 1000px) {
	h1 {
		font-size: 190px;
	}

	.hero p {
		font-size: 39px;
	}

	nav {
		font-size: 25px;
	}

	.hero div {
		margin-top: 70px;
		margin-bottom: 34px;
	}
} */

/* WORK */

.work {
	background-color: white;
	color: #353535;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	padding-bottom: 80px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: 100%;
	padding: 20px 20px;
	padding-bottom: 40px;
	margin-bottom: 30px;
	position: relative;
}

h3 {
	font-size: 30px;
	border-bottom: 3px solid #ff5252;
	margin-right: 40%;
	padding: 10px 0;
}

h3 a {
	text-decoration: none;
	color: inherit;
}

.project p {
	padding: 25px 0;
	line-height: 1.25em;
}

.project div {
	position: absolute;
	bottom: 20px;
}

.project div a:first-child {
	padding-right: 20px;
}

@media (min-width: 720px) {
	.projects {
		justify-content: space-around;
	}

	.project {
		width: 40%;
		box-shadow: -3px 3px 24px 0px rgba(0,0,0,0.2);
		margin-bottom: 60px;
	}
}

@media (min-width: 1000px) {
	.project {
		padding-top: 30px;
		padding-bottom: 100px;
	}

	.project div {
		bottom: 40px;
	}
}

/* ABOUT */
.about {
	background-color: #ff5252;
	padding-bottom: 80px;
}

.about p {
	padding: 0 20px;
	padding-bottom: 30px;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	line-height: 1.25em;
	text-align: justify;
}

.about strong {
	font-weight: 600;
}

@media (min-width: 720px) {
	.about p {
		width: 50%;
		margin: auto;
		font-size: 18px;
	}
}

@media (min-width: 1000px) {
	.about p {
		font-size: 20px;
	}
}

/* CONTACT */
.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: #353535;
}

.contact h2 {
	color: white;
	padding-bottom: 0;
}

.info {
	font-family: 'Cormorant', serif;
	text-align: center;
	font-size: 16px;
	color: white;
	line-height: 1.5em;
	padding: 0 15px;
}

.contact a {
	color: white;
}

.thanks {
	color: white;
	font-family: 'Tangerine', cursive;
	font-size: 34px;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

@media (min-height: 430px) {
	.info {
		flex-grow: 1;
		margin-top: 20vh;
	}
}

@media (min-width: 400px) {
	.info {
		font-size: 20px;
	}
}

@media (min-width: 720px) and (min-height: 600px) {
	.info {
		width: 50%;
		align-self: center;
		font-size: 24px;
	}

	.thanks {
		font-size: 50px;
	}
}

@media (min-width: 1000px) {
	.info {
		font-size: 30px;
	}

	.thanks {
		font-size: 70px;
	}
}