@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Cormorant');

/* GENERAL */

* {
	box-sizing: border-box;
}

body {
	position: relative;
}

h2 {
	font-family: 'Tangerine', cursive;
	font-size: 10vw;
	color: #353535;
	padding: 50px 0;
	text-align: center;
}

/* HERO */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #353535;
	color: white;
	cursor: default
}

.hero h1 {
	font-size: 15vw;
	font-family: 'Tangerine', cursive;
}

.hero div {
	width: 40vw;
	height: 2px;
	background-color: white;
	border-radius: 3px;
	margin-top: 10vh;
	margin-bottom: 5vh;
}

.hero p {
	font-family: 'Cormorant', serif;
	text-transform: uppercase;
	font-size: 3vw;
}

/* NAV */

nav {
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	font-family: 'Cormorant', serif;
	text-transform: uppercase;
	font-size: 2vw;
}

nav ul {
	display: flex;
	padding-top: 15px;
	padding-right: 20px;
}

nav li {
	margin-right: 35px;
}

nav li:last-child {
	margin-right: 0;
}

nav li:hover {
	border-bottom: 1px solid white;
	cursor: pointer;
}

/* WORK */

.work {
	height: 50vh;
	background-color: white;
	/* background-color: #ff5252; */
}

/* ABOUT */
.about {

	height: 50vh;
	background-color: #ff5252;
}

/* CONTACT */
.contact {

	min-height: 100vh;
	background-color: #353535;
}

.contact h2 {
	color: white;
}

.thanks {
	color: white;
	font-family: 'Tangerine', cursive;
	font-size: 6vw;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}